@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

.contentHome {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.branding2 {
  font-family: "Cabin", sans-serif;
  color: #ff3b3f;
  font-size: 48px;
  font-weight: bold;
  padding: 0px;
  margin-left: 8px;
}

.homeText {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.img-logo2 {
  height: 30px;
  width: 32px;
  margin-top: 13px;
}

.flex-logo {
  display: flex;
}

.addContactText {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin: 5%;
  margin-top: 65px;
}

.home-text {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-left: 45px;
}

.plus-button {
  background-color: #caebf2 !important;
  margin: 20px;
  margin-top: 70%;
}

.plus-size {
  width: 100px;
  height: 100px;
}

.content-row {
  height: 90px;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile1 {
  border-radius: 50%;
  width: 86px;
  height: 86px;
  float: left;
  display: block;
  margin: 10%;
}

.signout-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.profile-pic {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-left: 100px;
}

.contacts-align {
  width: 100%;
  height: 100%;
}

.new-color {
  background-color: #caebf2 !important;
}

.row-with-card {
  display: flex;
  height: 500px;
}
