@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

.branding {
  font-family: "Cabin", sans-serif;
  color: #ff3b3f;
  font-size: 48px;
  font-weight: bold;
  padding: 0px;
}

.button-color {
  box-shadow: 2px 2px 2px;
}

.img-logo {
  height: 60px;
  width: 75px;
  margin-left: 40px;
}

.first-row {
  height: 300px;
}

.button-align {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 10px;
}

.row-2 {
  margin-top: 50px;
}

.bottom-text {
  position: fixed;
  bottom: 20px;
  right: 90px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex: auto;
}

.button-color {
  background-color: #caebf2 !important;
}
